.container{
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice{
    text-align: center;
    display: inline-block;
}

body{
    background-color: gray;
}

h1{
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px #0f000f;
    font-size: 6rem;
    color: rgb(233, 33, 33);
}

h3{
    font-family: 'Lobster', cursive;
    color: rgb(233, 33, 33);
    font-size: 1.2rem;
}

p{
    font-size: 2rem;
    color: rgb(175, 80, 80);
    font-family: 'Indie Flower', cursive;
}

img{
    height: 200px;
    width: 200px;
}

footer{
    color: whitesmoke;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    margin-top: 3%;
}